:root {
    --water-1: rgb(32, 174, 250);
    --water-2: rgb(32, 174, 250);
    --water-3: rgb(32, 174, 250);
}

body {
    margin: 0;
    background-color: rgb(181, 181, 181);
}

#main {
    display: grid;
    grid-template-columns: repeat(180, max-content);
    margin-bottom: 50px; /* toolbar height */
}

.toolbar {
    width: 100%;
    height: 50px;
    background-color: rgb(107, 107, 107);
    opacity: 0.8;
    bottom: 0;
    position: fixed;
    display: flex;
}
.buttons {
    display: flex;
    flex-grow: 1;
}
.settings {
    height: 50px;
    margin-left: auto;
    display: flex;
}
button {
    min-width: 50px;
    padding: 5px;
    margin: 5px;
}

.active {
    background-color: #ff4747;   
}

.cell {
    height: 8px;
    width: 8px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* .cell:hover {
    opacity: 0.6;
} */
.neutral {
    background-color: rgb(255, 253, 245);
}
.road {
    background-color: rgb(75, 75, 75);
}
.grass-1 {
    background-color: rgb(123, 219, 111);
}
.grass-2 {
    background-color: rgb(143, 226, 132);
}
.grass-3 {
    background-color: rgb(102, 196, 89);
}
.grass-4 {
    background-color: rgb(127, 211, 116);
}
.grass-5 {
    background-color: rgb(113, 226, 98);
}
.hedge {
    background-color: green;
}
.water-1 {
    background-color: var(--water-1);
}
.water-2 {
    background-color: var(--water-2);
}
.water-3 {
    background-color: var(--water-3);
}